# set screen resolution
#sleep 2s
xrandr --output DisplayPort-1 --auto --output HDMI-A-0 --auto --right-of DisplayPort-1 --output DisplayPort-0 --auto --right-of HDMI-A-0
#screen.sh on

# restore wallpapers from previous session
./.fehbg &

# load X resources
xrdb ~/.Xresources

# start picom
picom &

# start Networkmanager
nm-applet &

# start lxsession
lxsession &

# turn off screen timeout
xset s off &
xset dpms 0 0 0 &
xset -dpms &

# load pywal colorscheme
#wal -R &

# launch Nextcloud sync
# nextcloud &

# launch Seafile client
seafile-applet &

# launch flameshot as a background process
flameshot &

# load emacs daemon
# emacs --daemon &
